!!! 5
%html{ lang: "en" }
  %head
    %meta{charset: "utf-8"}
    %meta{content: "en", name: "language"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
      
    %title
      Title
  
  = css :application

  %body        
    = yield

  = js :app